* {
    margin: 0;
}

@media (max-width: 480px) {

    /* cabecalho */
    nav {
        display: flex;
        width: 100%;
        color: white;
        text-align: center;
        align-items: center;
        background-color: #67748a;
        height: 10vh;
    }

    nav h3 {
        font-size: 1.3em;
        margin-left: 1em;
    }

    .sign-in-form {
        display: flex;
        width: 100%;
        color: white;
        align-items: center;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.8em;
        margin-left: -0.1em;
    }

    .sign-in-form h3 {
        font-size: 1em;
    }

    .sign-in-form button {
        height: 5vh;
        margin-left: 1em;
        background-color: white;
        color: #67748a;
        border: 0;
        border-radius: 0.3em;
    }

    .sign-in-form button:hover {
        opacity: 1.1;
    }

    /* artigo */
    .welcome-message {
        width: 60%;
        margin: 20% auto;
        background-color: #e1e2e3;
        padding: 1.5em;
        border-radius: 0.5em;
    }

    .welcome-message h1 {
        font-size: 1.5em;
        margin: 1em 0;
    }

    .welcome-message p {
        font-size: 1em;
        line-height: 1.5em;
        margin: 1em 0;
    }

    /* market */
    .market-sites {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5em 0;
        width: 100%;
        height: 10vh;
        background-color: #e1e2e3;
        font-size: 1.3em;
    }

    /* rodape */
    .rodape {
        background-color: #67748a;
        width: 100%;
        height: 15vh;
        bottom: 0;
        position: relative;
        font-weight: bold;
        font-size: 0.9em;
        padding-top: 3vh;
    }

    .rodape ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        align-items: center;
        color: white;
        padding-left: 0;
    }

    .rodape ul li {
        line-height: 1.5em;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    /* cabecalho */
    nav {
        display: flex;
        width: 100%;
        color: white;
        text-align: center;
        align-items: center;
        background-color: #67748a;
        height: 10vh;
    }

    nav h3 {
        font-size: 1.3em;
        margin-left: 1em;
    }

    .sign-in-form {
        display: flex;
        width: 100%;
        color: white;
        align-items: center;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.8em;
        margin-left: -0.1em;
    }

    .sign-in-form h3 {
        font-size: 1em;
    }

    .sign-in-form button {
        height: 5vh;
        margin-left: 1em;
        background-color: white;
        color: #67748a;
        border: 0;
        border-radius: 0.3em;
    }

    .sign-in-form button:hover {
        opacity: 1.1;
    }

    /* artigo */
    .welcome-message {
        width: 60%;
        margin: 20% auto;
        background-color: #e1e2e3;
        padding: 1.5em;
        border-radius: 0.5em;
    }

    .welcome-message h1 {
        font-size: 1.5em;
        margin: 1em 0;
    }

    .welcome-message p {
        font-size: 1em;
        line-height: 1.5em;
        margin: 1em 0;
    }

    /* market */
    .market-sites {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5em 0;
        width: 100%;
        height: 10vh;
        background-color: #e1e2e3;
        font-size: 1.3em;
    }

    /* rodape */
    .rodape {
        background-color: #67748a;
        width: 100%;
        height: 15vh;
        bottom: 0;
        font-weight: bold;
        font-size: 0.9em;
        padding-top: 3vh;
    }

    .rodape ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        align-items: center;
        color: white;
        padding-left: 0;
    }

    .rodape ul li {
        line-height: 1.5em;
    }
}

@media (min-width: 769px) and (max-width: 1279px) {

    /* cabecalho */
    nav {
        display: flex;
        width: 100%;
        color: white;
        text-align: center;
        align-items: center;
        background-color: #67748a;
        height: 10vh;
    }

    nav h3 {
        font-size: 2em;
        margin-left: 1em;
    }

    .sign-in-form {
        display: flex;
        width: 100%;
        color: white;
        align-items: center;
        justify-content: flex-end;
        padding: 1em;
        font-size: 1.8em;
        margin-left: -0.1em;
    }

    .sign-in-form h3 {
        font-size: 1em;
    }

    .sign-in-form button {
        height: 4vh;
        width: 9vw;
        margin-left: 1em;
        background-color: white;
        color: #67748a;
        border: 0;
        border-radius: 0.3em;
        font-size: 0.7em;
    }

    .sign-in-form button:hover {
        opacity: 1.1;
    }

    /* artigo */
    .welcome-message {
        width: 60%;
        margin: 20% auto;
        background-color: #e1e2e3;
        padding: 2em;
        border-radius: 1em;
    }

    .welcome-message h1 {
        font-size: 2em;
        margin: 1.5em 0;
    }

    .welcome-message p {
        font-size: 1.5em;
        line-height: 1.5em;
        margin: 1.5em 0;
    }

    /* market */
    .market-sites {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5em 0;
        width: 100%;
        height: 10vh;
        background-color: #e1e2e3;
        font-size: 1.3em;
    }

    /* rodape */
    .rodape {
        background-color: #67748a;
        width: 100%;
        height: 15vh;
        bottom: 0;
        position: relative;
        font-weight: bold;
        padding-top: 5vh;
        font-size: 1.5em;
    }

    .rodape ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        align-items: center;
        color: white;
        padding-left: 0;
    }

    .rodape ul li {
        line-height: 1.5em;
    }
}

@media (min-width: 1280px) {

    /* cabecalho */
    nav {
        display: flex;
        width: 100%;
        color: white;
        text-align: center;
        align-items: center;
        background-color: #67748a;
        height: 20vh;
    }

    nav h3 {
        font-size: 2em;
        margin-left: 1em;
    }

    .sign-in-form {
        display: flex;
        width: 100%;
        color: white;
        align-items: center;
        justify-content: flex-end;
        padding: 1em;
        font-size: 1.8em;
        margin-left: -0.1em;
    }

    .sign-in-form h3 {
        font-size: 1em;
    }

    .sign-in-form button {
        height: 7vh;
        width: 10vw;
        margin-left: 1.5em;
        background-color: white;
        color: #67748a;
        border: 0;
        border-radius: 0.3em;
        font-size: 0.7em;
    }

    .sign-in-form button:hover {
        opacity: 1.1;
    }

    /* artigo */
    .welcome-message {
        width: 50%;
        margin: 10% auto;
        background-color: #e1e2e3;
        padding: 2em;
        border-radius: 1em;
    }

    .welcome-message h1 {
        font-size: 2.5em;
        margin: 2em 0;
    }

    .welcome-message p {
        font-size: 1.5em;
        line-height: 1.5em;
        margin: 2em 0;
    }

    /* market */
    .market-sites {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3em 0;
        width: 100%;
        height: 15vh;
        background-color: #e1e2e3;
        font-size: 1.5em;
    }

    /* rodape */
    .rodape {
        background-color: #67748a;
        width: 100%;
        height: 25vh;
        bottom: 0;
        position: relative;
        font-weight: bold;
        padding-top: 8vh;
        font-size: 1.5em;
    }

    .rodape ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        align-items: center;
        color: white;
        padding-left: 0;
    }

    .rodape ul li {
        line-height: 1.5em;
    }
}