* {
    margin: 0;
}

@media (max-width: 480px) {

    /* rodape */
    .rodape {
        background-color: #67748a;
        width: 100%;
        height: 15vh;
        bottom: 0;
        position: fixed;
        font-weight: bold;
        font-size: 0.9em;
    }

    .rodape ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 2vh;
        padding-left: 0;
    }

    .rodape ul li {
        line-height: 1.5em;
    }
}

@media (min-width: 481px) and (max-width: 768px) {}

@media (min-width: 769px) and (max-width: 1279px) {}

@media (min-width: 1280px) {}