* {
    margin: 0;
}

@media (max-width: 480px) {

    /* cabecalho */
    nav {
        display: flex;
        width: 100%;
        color: white;
        text-align: center;
        align-items: center;
        background-color: #67748a;
        height: 10vh;
    }

    nav h3 {
        font-size: 1.3em;
        margin-left: 1em;
    }

    .sign-in-form {
        display: flex;
        width: 100%;
        color: white;
        align-items: center;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.8em;
        margin-left: -0.1em;
    }

    .sign-in-form h3 {
        font-size: 1em;
    }

    .sign-in-form button {
        height: 5vh;
        margin-left: 1em;
        background-color: white;
        color: #67748a;
        border: 0;
        border-radius: 0.3em;
    }

    .sign-in-form button:hover {
        opacity: 1.1;
    }

    /* rodape */
    .rodape {
        background-color: #67748a;
        width: 100%;
        height: 15vh;
        bottom: 0;
        position: fixed;
        font-weight: bold;
        font-size: 0.9em;
    }

    .rodape ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 2vh;
        padding-left: 0;
    }

    .rodape ul li {
        line-height: 1.5em;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    /* rodape */
    .rodape {
        background-color: #67748a;
        width: 100%;
        height: 15vh;
        bottom: 0;
        position: fixed;
        font-weight: bold;
        font-size: 0.9em;
    }

    .rodape ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 2vh;
        padding-left: 0;
    }

    .rodape ul li {
        line-height: 1.5em;
    }
}

@media (min-width: 769px) and (max-width: 1279px) {

    /* rodape */
    .rodape {
        background-color: #67748a;
        width: 100%;
        height: 15vh;
        bottom: 0;
        position: fixed;
        font-weight: bold;
        font-size: 1.5em;
    }

    .rodape ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 3vh;
        padding-left: 0;
    }

    .rodape ul li {
        line-height: 1.5em;
    }
}

@media (min-width: 1280px) {}